<body>
  <!-- START nav -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" height="75px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/science" class="nav-link">The Science</a></li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="/gallery" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/map">Map</a>
                <a class="dropdown-item active" href="/gallery">Gallery</a>
              </div>
          </li>
          <li class="nav-item"><a href="/upload" class="nav-link">Upload</a></li>
          <li class="nav-item"><a href="/case-studies" class="nav-link">Case Studies</a></li>
          <li class="nav-item cta"><a href="mailto:huckley@gmail.com" class="nav-link"><span>Get in touch</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->

  <!-- START headline -->
  <div class="hero-wrap js-fullheight">
    <div class="overlay"></div>  
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" style="margin-bottom: 0px; margin-top: 50px; padding-bottom: 0px;" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><b>Image Gallery</b></h1>
          <div id="placeholder" class="placeholder"></div>
          <img id="og_backup" style="width: 70vw; height:auto;display:none;" src="/images/gallery_2.jpg">
        </div>
      </div>
      <div class="arrow"></div>
    </div>        
  </div>
  <!-- END headline -->

  <!-- START gallery -->
  <div class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <p>Click a thumbnail to view and download fullsize images.</p>
          <p>Image sharing is allowed with credit to the contributor.</p>
        </div>
      </div>
      
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-12 text-center heading-section ftco-animate">
          <form id="upload-form" action="/gallery" method="GET" enctype="multipart/form-data" >
          <div id="biome">
            <label><b>Biome:&nbsp;&nbsp;&nbsp;</b></label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="biome" id="terrestrial" value="terrestrial">
              <label class="form-check-label" for="terrestrial">Terrestrial</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="biome" id="aquatic" value="aquatic">
              <label class="form-check-label" for="aquatic">Aquatic</label>
            </div>
          </div>

          <div id="substrate">
              <label><b>Substrate:&nbsp;&nbsp;&nbsp;</b></label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="substrate" id="all-substrate" value="all">
                <label class="form-check-label" for="all-substrate">All</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="substrate" id="rock" value="rock">
                <label class="form-check-label" for="rock">Rock</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="substrate" id="sand" value="sand">
                <label class="form-check-label" for="sand">Sand</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="substrate" id="ice" value="ice">
                <label class="form-check-label" for="ice">Ice</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="substrate" id="dirt" value="dirt">
                <label class="form-check-label" for="dirt">Dirt</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="substrate" id="water" value="water">
                <label class="form-check-label" for="water">Water</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="substrate" id="leaves" value="leaves">
                <label class="form-check-label" for="leaves">Leaves</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="substrate" id="grass" value="grass">
                <label class="form-check-label" for="grass">Grass</label>
              </div>
            </div>

            <div id="fauna">
              <label><b>Fauna:&nbsp;&nbsp;&nbsp;</b></label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fauna" id="all-fauna" value="all">
                <label class="form-check-label" for="all-fauna">All</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fauna" id="amphibian" value="Amphibian">
                <label class="form-check-label" for="amphibian">Amphibian</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fauna" id="bird" value="Bird">
                <label class="form-check-label" for="bird">Bird</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fauna" id="fish" value="Fish">
                <label class="form-check-label" for="fish">Fish</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fauna" id="mollusk" value="Mollusk">
                <label class="form-check-label" for="mollusk">Mollusk</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fauna" id="arthropod" value="Arthropod">
                <label class="form-check-label" for="arthropod">Arthropod</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fauna" id="marsupial" value="Marsupial">
                <label class="form-check-label" for="marsupial">Marsupial</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fauna" id="mammal" value="Mammal">
                <label class="form-check-label" for="mammal">Mammal</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fauna" id="reptile" value="Reptile">
                <label class="form-check-label" for="reptile">Reptile</label>
              </div>
            </div>

            <div id="flora">
              <label><b>Flora:&nbsp;&nbsp;&nbsp;</b></label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flora" id="all-flora" value="all">
                <label class="form-check-label" for="all-flora">All</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flora" id="grass" value="Grass">
                <label class="form-check-label" for="grass">Grass</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flora" id="herbaceous" value="Herbaceous">
                <label class="form-check-label" for="herbaceous">Herbaceous</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flora" id="shrub" value="Shrub">
                <label class="form-check-label" for="shrub">Shrub</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flora" id="tree" value="Tree">
                <label class="form-check-label" for="tree">Tree</label>
              </div>
            </div>
            
          <div><input class="btn btn-primary btn-lg" class="form-control" type="submit" value="Get Images"></div>
          
          </form>
        </div>
      </div>

      <div class="row justify-content-center">
        {{#each this.images}}
        <div class="col-md-3 mb-5 ftco-animate">
            <a href="/page?name={{name}}&species={{tags.ScientificName}}&common={{tags.CommonName}}&desc={{metadata.description}}&fauna1={{tags.Fauna1}}&fauna2={{tags.Fauna2}}&flora1={{tags.Flora1}}&flora2={{tags.Flora2}}&biome={{tags.Biome}}&biomespecific={{tags.SpecificBiome}}&substrate={{tags.Substrate}}&contributor={{tags.Contributor}}&contributorlink={{metadata.contributorlink}}&location={{metadata.location}}">
              <img src="https://{{../accountName}}.blob.core.windows.net/{{../containerName}}/IRON-{{name}}" class="img-fluid">
            </a>
            <p>{{tags.ScientificName}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <!-- END gallery -->

<script>function initMap() {};</script>
<script>
var options = {
  imgSrc1:"/images/gallery_1.jpg",
  imgSrc2:"/images/gallery_2.jpg",
  containerName : "placeholder",
  columns:16,
  margin:3
}

window.onload = (event) => {
  if ($(window).width() < 500) {
    $("#placeholder").hide();
    $("#og_backup").show();
  }

  if(getUrlVars()["biome"]=="aquatic"){
    $('#aquatic').prop("checked", true);
  } else{
    $('#terrestrial').prop("checked", true);
  }

  if(getUrlVars()["substrate"]=="rock"){
    $('#rock').prop("checked", true);
  } else if(getUrlVars()["substrate"]=="sand"){
    $('#sand').prop("checked", true);
  } else if(getUrlVars()["substrate"]=="ice"){
    $('#ice').prop("checked", true);
  } else if(getUrlVars()["substrate"]=="dirt"){
    $('#dirt').prop("checked", true);
  } else if(getUrlVars()["substrate"]=="moss"){
    $('#moss').prop("checked", true);
  } else if(getUrlVars()["substrate"]=="leaves"){
    $('#leaves').prop("checked", true);
  } else if(getUrlVars()["substrate"]=="grass"){
    $('#grass').prop("checked", true);
  } else{
    $('#all-substrate').prop("checked", true);
  }

  if(getUrlVars()["fauna"]=="Amphibian"){
    $('#amphibian').prop("checked", true);
  } else if(getUrlVars()["fauna"]=="Bird"){
    $('#bird').prop("checked", true);
  } else if(getUrlVars()["fauna"]=="Fish"){
    $('#fish').prop("checked", true);
  } else if(getUrlVars()["fauna"]=="Mollusk"){
    $('#mollusk').prop("checked", true);
  } else if(getUrlVars()["fauna"]=="Arthropod"){
    $('#arthropod').prop("checked", true);
  } else if(getUrlVars()["fauna"]=="Marsupial"){
    $('#marsupial').prop("checked", true);
  } else if(getUrlVars()["fauna"]=="Mammal"){
    $('#mammal').prop("checked", true);
  } else if(getUrlVars()["fauna"]=="Reptile"){
    $('#reptile').prop("checked", true);
  } else{
    $('#all-fauna').prop("checked", true);
  }

  if(getUrlVars()["flora"]=="Grass"){
    $('#grass').prop("checked", true);
  } else if(getUrlVars()["flora"]=="Herbaceous"){
    $('#herbaceous').prop("checked", true);
  } else if(getUrlVars()["flora"]=="Shrub"){
    $('#shrub').prop("checked", true);
  } else if(getUrlVars()["flora"]=="Tree"){
    $('#tree').prop("checked", true);
  } else{
    $('#all-flora').prop("checked", true);
  }
};

function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

function VenetianBlinds(defaults)
{
  var cols = defaults.columns;
  var margin = defaults.margin;
  var img1 = defaults.imgSrc1;
  var img2 = defaults.imgSrc2;
  var placeholder = document.getElementsByClassName(defaults.containerName)[0];
  var directionX, directionY;
  
  var column, blind, blindImg;
  var bgImg, rot;
  var colL;
  var colW = (placeholder.offsetWidth / cols) - margin;
  for (var i=0; i < cols; i++)
    {
      colL = ((colW + margin) * i);
      
      column = document.createElement('div');
      column.className = "column";
      column.style.width = colW + "px";
      column.style.left = colL + "px";
      placeholder.appendChild(column); 
      
      for (var j=0; j<4; j++)
        {
          blind = document.createElement('div');
          blind.className = "blind";
          blind.style.width = colW + "px";
          blindImg = document.createElement('div');
          blindImg.className = "blindImg";
          
          switch (j){
             case 0:
                TweenMax.set(blind, {rotationY: "0"});
                bgImg = img1;
                break;
            case 1:
                TweenMax.set(blind, {rotationY: "90"});
                bgImg = img2;
                break;
             case 2: 
                  TweenMax.set(blind, {rotationY: "180"});
                  bgImg = img1;
                  break;              
              case 3:
                  TweenMax.set(blind, {rotationY: "270"});
                  bgImg = img2;
                  break;
          }
          blindImg.style.width = placeholder.offsetWidth + "px";
          blindImg.style.backgroundImage = "url("+bgImg+")";
          blindImg.style.left = -colL + "px";

          column.appendChild(blind);
          blind.appendChild(blindImg);
          
          TweenMax.set(blind, { transformOrigin:"50% 50% " + -colW/2, transformStyle: "preserve-3d"});
        }
      
      TweenMax.set(column, {transformStyle:"preserve-3d", transformPerspective:1000, rotationY:0});
      
       column.addEventListener("mouseenter", function(event){
            var elem = event.currentTarget;
            var rotY = elem._gsTransform.rotationY;
         
            if(directionX > 0){
              TweenMax.to(elem, 1, {rotationY:Math.floor(rotY/90)*90+90, transformOrigin:"50% 50% -" + colW/2, ease:Back.easeOut});
            }else{
              TweenMax.to(elem, 1, {rotationY:Math.floor(rotY/90)*90-90, transformOrigin:"50% 50% -" + colW/2, ease:Back.easeOut});
            }
      })
    }
      document.addEventListener('mousemove', function (event) {
      directionX = event.movementX || event.mozMovementX || event.webkitMovementX || 0;
      directionY = event.movementY || event.mozMovementY || event.webkitMovementY || 0;
    });
}

VenetianBlinds(options);

</script>
  
</body>