<body>
  <!-- START nav -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/images/logo.png" height="75px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/science" class="nav-link">The Science</a></li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="portfolio.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/map">Map</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
          </li>
          <li class="nav-item"><a href="/upload" class="nav-link">Upload</a></li>
          <li class="nav-item"><a href="/case-studies" class="nav-link">Case Studies</a></li>
          <li class="nav-item cta"><a href="mailto:huckley@gmail.com" class="nav-link"><span>Get in touch</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
    
  <!-- START headline -->
  <section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center heading-section heading-section-white ftco-animate" style="color: white;">
            <div class="row">
              <div class="col" style="text-align: right; color: white;">
                <h3 style="color: white;">Image Specifics</h3>
                <p id="species">Species: {{this.species}}</p>
                <p id="common">Common Name: {{this.common}}</p>
                <p id="geo">Image Captured: ({{this.geoLat}},{{this.geoLon}})</p>
                <p id="fauna">Fauna: {{this.fauna1}}, {{this.fauna2}}</p>
                <p id="flora">Flora: {{this.flora1}}, {{this.flora1}}</p>
                <p id="biome">Biome: {{this.biome}} - {{this.biomespecific}}</p>
                <p id="substrate">Substrate: {{this.substrate}}</p>
                <p id="contributor">Contributor: <u><a style="color: white;" href="http://{{this.contributorlink}}" target="_blank">{{this.contributor}}</a></u></p>
                <br>
                <p id="desc">{{this.desc}}</p>
                <p id="location" style="display:none;">{{this.location}}</p>
              </div>
              <div class="col" style="text-align: left;">
                <div class="tt" style="align:right;  margin-top:10px;">
                  <div id="container1" style="vertical-slight:middle; float: middle;">
                    <img id="embedded" style="max-height: 50vh; width: auto; max-width:40vw;" src="https://trenchir.blob.core.windows.net/embedded/EMBED-{{this.name}}">
                    <img id="og" style="max-height: 50vh; width: auto; max-width:40vw;" src="https://trenchir.blob.core.windows.net/iron/IRON-{{this.name}}">
                  </div>
                </div>

                <img id="og_backup" style="max-height: 50vh; width: auto; margin-top:10px; display:none;" src="https://trenchir.blob.core.windows.net/iron/IRON-{{this.name}}">
                
                <form name="palettes" style="color: white;">
                  <input type="radio" id="ironbow" name="palettes" value="ironbow" checked/>
                  <label for="ironbow">Ironbow</label>&nbsp;&nbsp;&nbsp;
                  <input type="radio" id="rainbow" name="palettes" value="rainbow"/>
                  <label for="rainbow">Rainbow</label>&nbsp;&nbsp;&nbsp;
                  <input type="radio" id="greyscale" name="palettes" value="greyscale"/>
                  <label for="greyscale">Greyscale</label>&nbsp;&nbsp;&nbsp;
                </form>
              </div>
            </div>
            <hr>
            <p style="color: white;">Download:
              <a href="https://trenchir.blob.core.windows.net/iron/IRON-{{this.name}}" data-toggle="tooltip" title="Temperature-coded thermal image with ironbow filter" class="btn btn-primary btn-outline-white">Ironbow Temperature Image</a>
              <a href="https://trenchir.blob.core.windows.net/rain/RAIN-{{this.name}}" data-toggle="tooltip" title="Temperature-coded thermal image with rainbow filter" class="btn btn-primary btn-outline-white">Rainbow Temperature Image</a>
              <a href="https://trenchir.blob.core.windows.net/grey/GREY-{{this.name}}" data-toggle="tooltip" title="Temperature-coded thermal image with greyscale filter" class="btn btn-primary btn-outline-white">Greyscale Temperature Image</a><br>
              <a href="https://trenchir.blob.core.windows.net/originals/{{this.name}}" data-toggle="tooltip" title="The original FLIR jpg uploaded" id="flirbtn" class="btn btn-primary btn-outline-white">FLIR jpg</a>
              <a href="https://trenchir.blob.core.windows.net/raw/RAW-{{this.name}}.tiff" data-toggle="tooltip" title="The raw data for advanced analysis" id="rawbtn" class="btn btn-primary btn-outline-white">RAW data</a>
              <a href="https://trenchir.blob.core.windows.net/param/PARAM-{{this.name}}.json" data-toggle="tooltip" title="Parameters of the image for advanced analysis" id="parambtn" class="btn btn-primary btn-outline-white">Metadata</a>
              <a href="https://trenchir.blob.core.windows.net/embedded/EMBED-{{this.name}}" data-toggle="tooltip" title="The normal, digital version of the image" id="embedbtn" class="btn btn-primary btn-outline-white">Non-thermal image</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END headline -->

  <script>
    window.onload = (event) => {

      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })

      $("#ironbow").click(function(){
          $("#og").attr("src", "https://trenchir.blob.core.windows.net/iron/IRON-{{this.name}}");
          $("#og_backup").attr("src", "https://trenchir.blob.core.windows.net/iron/IRON-{{this.name}}");
      });
      $("#rainbow").click(function(){
          $("#og").attr("src", "https://trenchir.blob.core.windows.net/rain/RAIN-{{this.name}}");
          $("#og_backup").attr("src", "https://trenchir.blob.core.windows.net/rain/RAIN-{{this.name}}");
      });
      $("#greyscale").click(function(){
          $("#og").attr("src", "https://trenchir.blob.core.windows.net/grey/GREY-{{this.name}}");
          $("#og_backup").attr("src", "https://trenchir.blob.core.windows.net/grey/GREY-{{this.name}}");
      });

      $("#container1").twentytwenty();
      console.log($("#embedded").height());
      console.log($("#og").height());
      if($("#embedded").height() < $("#og").height()){
        $("#container1").hide();
        $("#embedbtn").hide();
        $("#og_backup").show();
      }

      if($("#species").text()=="Species: ") $("#species").hide();
      if($("#common").text()=="Common Name: ") $("#common").hide();
      if($("#geo").text()=="Image Captured: (,)") $("#geo").hide();
      if($("#fauna").text()=="Fauna: NA, NA") $("#fauna").hide();
      if($("#fauna").text()=="Fauna: , ") $("#fauna").hide();
      if($("#flora").text()=="Flora: NA, NA") $("#flora").hide();
      if($("#flora").text()=="Flora: , ") $("#flora").hide();
      if($("#biome").text()=="Biome:  - ") $("#biome").hide();
      if($("#substrate").text()=="Substrate: NA") $("#substrate").hide();
      if($("#substrate").text()=="Substrate: ") $("#substrate").hide();
      if($("#desc").text()=="") $("#desc").hide();
      if($("#location").text()=="no") {
        $("#flirbtn").hide();
        $("#parambtn").hide();
      }

      var fauna = $("#fauna").text();
      if(fauna[fauna.length-2]=='N'&&fauna[fauna.length-1]=='A'){
        fauna = fauna.slice(0, -4);
        $("#fauna").text(fauna);
      }

      var flora = $("#flora").text();
      if(flora[flora.length-2]=='N'&&flora[flora.length-1]=='A'){
        flora = flora.slice(0, -4);
        $("#flora").text(flora);
      }
    };
  </script>
  <script>function initMap() {};</script>
</body>